################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend-api/CallRecorderMobileApp.Api/bin/Debug/net10.0
